.header-text {
  color: "#BDBDBD";
  font-family: "Monaco";
  font-size: 16;
  letter-spacing: "-0.4px";
  margin-bottom: 20;
  margin-top: 25;
}

.resource-header {
  align-items: "center";
  display: "flex";
  position: "relative";
}

.resource-title {
  font-weight: "bold";
  margin-left: 20;
}

.resource-row {
  border-bottom: "1px solid #E4E4E4";
  cursor: "pointer";
  display: "flex";
  flex-direction: "column";
  margin-left: "-15px";
  padding: "10px 30px";
  width: "calc(100% - 15px)";
}

.resource-row:last-child {
  border-bottom: "none";
}

.resource-row:hover {
  background-color: "#EEE";
}

.resource-body {
  margin-top: 20;
  padding-left: 15;
}

.timestamp {
  position: "absolute";
  right: 0;
}
